{% extends 'index.html' %}

{% load static %}

{% block codigoDinamico %} 
 <form action="" method="post"> {% csrf_token %}>

   
    <h2> funciona html postre </h2>
  
    <p> Ahora seguimos con.. </p> 
    <p> Ingrese cantidad de personas: <input type="number" name="cantidad_de_personas" id="cantidad_de_personas"></p>
    <p> Ingrese nombre_torta: <input type="text" name="nombre_torta" id="nombre_torta"></p>
    <p> Ingrese el relleno: <input type="text" name="relleno" id="relleno"></p>
    
    <button type='submit' value='enviar'>enviar</button> 
  
  </form>

{% endblock %}