{% extends 'index.html' %}

{% load static %}

{% block codigoDinamico %} 

<form action="" method="post"> {% csrf_token %}

   
    <h3> funciona html relleno </h3>
  
    <p> Ahora seguimos con.. </p> 
    <p> Ingrese el relleno: <input type="text" name="relleno" id="relleno"></p>
    <p> Ingrese crocante: <input type="text" name="crocante" id="crocante"></p>
    <p> Ingrese numero_de_pisos: <input type="number" name="numero_de_pisos" id="numero_de_pisos"></p>
    
    <button type='submit' value='enviar'>enviar</button> 
  
</form>

{% endblock %}