{% extends 'index.html' %}

{% load static %}

{% block codigoDinamico %} 

<form action="" method="POST"> {% csrf_token %}


  <h2> ohhhhhh, ahora nos toca elegir  </h2>

  <p> Ahora seguimos con.. </p> 

  <p> Ingrese cantidad de personas: <input type="number" name="cantidad_de_personas" id="cantidad_de_personas"></p>
  <p> Ingrese nombre de la torta: <input type="text" name="nombre_torta" id="nombre_torta"></p>
    
  <button type='submit' value='enviar'>enviar</button> 
  
</form>

{% endblock %}